*{
    margin: 0px;
    padding: 0px;
    background-color: #F5F3FF;
    text-align: center;
  }
h1{
    
    height: 5rem;
    line-height: 5rem;
    /* text-align: center; */
    color:#ffffff;
    background-color:#8B5CF6 ;

}
.choice{
    height: 210px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;

    
}
.choice:hover{
    cursor: pointer;
    background-color: #DB2777;
    border-radius: 25%;

    transform: scale(1.05);
}

img{
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 25%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,
#comp-score{
    font-size: 4rem;
}
.msg-cont{
  margin-top: 5rem;
}
#msg
{

    /* width: 600px; */
    /* margin-left: 500px;/ */
    margin-top: 5rem;
    background-color:#EC4899;
    color:white;
    font-size: 2rem;
    display:inline;
    padding: 1rem;
    border-radius: 1rem;
} 
.score-label {
    color: #231F20;            /* Dark Charcoal */
}

.score {
    color: #4c1d95;            /* Shin-chan Red */
    font-size: 2.5rem;
}

